--extra-index-url https://download.pytorch.org/whl/cu121

# Core Data & Science
numpy<2
pandas~=2.0
scipy~=1.0
scikit-learn-intelex
scikit-image~=0.0
openpyxl
pykdtree~=1.0
laspy~=2.0
rtree~=1.0
ipykernel
setuptools

# Imaging & UI
pillow
pyglet~=1.0
tqdm
overrides~=7.0

tensorboard>=2.14
trimesh>=3.23
jsonargparse[signatures]>=4.7